<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Group Project</h2>
        <form action="/sport" method="post">
            <p><input type="submit" value="Sport Report"></p>
        </form>
        <form action="/diet" method="post">
            <p><input type="submit" value="Diet Report"></p>
        </form>
        <form action="/health" method="post">
            <p><input type="submit" value="Health Report"></p>
        </form>
        <form action="/" method="post">
            <p><input type="submit" value="Log Out" class="back-button"></p>
        </form>
    </div>
</body>